@font-face {
    font-family: 'Domaine Disp Nar';
    src: url('DomaineDispNar-Bold.woff2') format('woff2'),
        url('DomaineDispNar-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Domaine Disp Nar';
    src: url('DomaineDispNarBlack.woff2') format('woff2'),
        url('DomaineDispNarBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Domaine Disp Nar';
    src: url('DomaineDispNarExtrabold.woff2') format('woff2'),
        url('DomaineDispNarExtrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Domaine Disp Nar';
    src: url('DomaineDispNar-Regular.woff2') format('woff2'),
        url('DomaineDispNar-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Domaine Disp Nar';
    src: url('DomaineDispNarMedium.woff2') format('woff2'),
        url('DomaineDispNarMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Domaine Disp Nar';
    src: url('DomaineDispNarSemibold.woff2') format('woff2'),
        url('DomaineDispNarSemibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

